@media (max-width: 1460px) {
	/*header section*/
	.header-section_about {
		// background-size: 25%, 100%;
		background-size: 18%, 100%;
	}
	.header-section_past-training {
		// background-size: 10%, 100%;
		background-size: 10%, 7%, 100%;
	}
	/*header section*/ 
	/*about section*/
	.about-section {
		background-size: 10%;
	}
	.about-head-section {
		// background-size: 25%, 10%;
		background-size: 18%, 8%;
	}
	/*about section*/ 
	/*events section*/
	.events-section {
		background-size: 10%, 17%;
	}
    .events-section_future {
    	background-size: 10%;
    }
    .events-section_all {
    	background-size: 10%;
    }
	/*events section*/ 
	/*advantages section*/
	.advantages-section {
		background-size: 17%;
	} 
	/*advantages section*/ 
	/*learning section*/
	.learning-section {
		background-size: 10%;
	}
	.learning-section_about {
		background-size: 16%;
	}
	/*learning section*/ 
	/*partners section*/
	.partners-section {
		background-size: 10%,14%;
	}
	.partners-section_about {
		background-size: 16%;
	}
	/*partners section*/ 
	/*video section*/
	.video-section {
		background-size: 7%, 10%;
	} 
	/*video section*/ 
	/*photogallery-section*/
	.photogallery-section {
		background-size: 7%, 11%;
	} 
	/*photogallery-section*/ 
	/*reviews section*/
	.reviews-section {
		// background-size: 13%;
		background-size: 11%,9%;
	} 
	/*reviews section*/ 
	/*similar-training-section*/ 
	.similar-training-section {
		background-size: 9%;
	}
	/*similar-training-section*/ 
	/*contacts section*/
	.contacts-section {
		background-size: 5%, 9%;
	} 
	/*contacts section*/ 
	/*feedback section*/
	.feedback-section {
		background-size: 14%;
	} 
	/*feedback section*/ 
}
@media (max-width: 1370px) {
	/*header section*/
	.header-section_about {
		// background-size: 23%, 100%;
		background-size: 17%, 100%;
	}
	.header-section_past-training {
		background-size: 9%, 7%, 100%;
	}
	/*header section*/ 
	/*about section*/
	.about-section {
		background-size: 8%;
	}
	.about-head-section {
		// background-size: 23%, 8%;
		background-size: 17%, 7%;
	}
	/*about section*/ 
	/*events section*/
	.events-section {
		background-size: 8%, 14%;
	}
	.events-section_future {
    	background-size: 8%;
    }
    .events-section_all {
    	background-size: 8%;
    }
	/*events section*/ 
	/*advantages section*/
	.advantages-section {
		background-size: 14%;
	} 
	/*advantages section*/ 
	/*learning section*/
	.learning-section {
		background-size: 8%;
	}
	.learning-section_about {
		background-size: 14%;
	}
	/*learning section*/ 
	/*partners section*/
	.partners-section {
		background-size: 8%,13%;
	}
	.partners-section_about {
		background-size: 14%;
	}
	/*partners section*/ 
	/*video section*/
	.video-section {
		background-size: 6%, 9%;
	} 
	/*video section*/ 
	/*photogallery-section*/
	.photogallery-section {
		// background-size: 11%;
		background-size: 6%, 10%;
	} 
	/*photogallery-section*/ 
	/*reviews section*/
	.reviews-section {
		// background-size: 11%;
		background-size: 10%,8%;
	} 
	/*reviews section*/ 
	/*similar-training-section*/ 
	.similar-training-section {
		background-size: 8%;
	}
	/*similar-training-section*/ 
	/*feedback section*/
	.feedback-section {
		background-size: 13%;
	} 
	/*feedback section*/ 
}
@media (max-width: 1300px) {
	/*header section*/
	.header-section_about {
		// background-size: 21%, 100%;
		// background-size: 16%, 100%;
		background-size: 16%, 100%;
	}
	.header-section_past-training {
		background-size: 9%, 5%, 100%;
	}
	/*header section*/ 
	/*about section*/
	.about-section {
		background-size: 5%;
	}
	.about-head-section {
		// background-size: 21%, 5%;
		background-size: 16%, 5%;
	}
	/*about section*/ 
	/*events section*/
	.events-section {
		background-size: 5%, 13%;
	}
	.events-section_future {
    	background-size: 5%;
    }
    .events-section_all {
    	background-size: 5%;
    }
	/*events section*/
	/*advantages section*/
	.advantages-section {
		background-size: 13%;
	} 
	/*advantages section*/  
	/*learning section*/
	.learning-section {
		background-size: 5%;
	} 
	.learning-section_about {
		background-size: 12%;
	}
	/*learning section*/ 
	/*partners section*/
	.partners-section {
		background-size: 5%,10%;
	}
	.partners-section_about {
		background-size: 12%;
	}
	/*partners section*/ 
	/*photogallery-section*/
	.photogallery-section {
		// background-size: 11%;
		background-size: 6%, 8%;
	} 
	/*photogallery-section*/ 
	/*reviews section*/
	.reviews-section {
		// background-size: 11%;
		background-size: 8%,7%;
	} 
	/*reviews section*/ 
	/*similar-training-section*/ 
	.similar-training-section {
		background-size: 7%;
	}
	/*similar-training-section*/ 
	/*feedback section*/
	.feedback-section {
		background-size: 10%;
	} 
	/*feedback section*/ 
}
@media (max-width: 1200px) {
	/*header section*/
	.header-section_about {
		background: -webkit-linear-gradient(
		    left,
			rgba(108,95,230,1),
			rgba(246,174,254,1)
	        ) no-repeat;
	}
	.header-section_past-training {
		background: -webkit-linear-gradient(
		    left,
			rgba(108,95,230,1),
			rgba(246,174,254,1)
	        ) no-repeat;
	}
	/*header section*/ 
	/*about section*/
	.about-section {
		background-image: none;
	}
	.about-head-section {
		background-image: none;
	}
	/*about section*/ 
	/*events section*/
	.events-section {
		background-image: none;
	}
	.events-section_future {
    	background-image: none;
    }
    .events-section_all {
    	background-image: none;
    }
	/*events section*/ 
	/*advantages section*/
	.advantages-section {
		background-image: none;
	} 
	/*advantages section*/ 
	/*learning section*/
	.learning-section {
		background-image: none;
	}
	.learning-section_about {
		background-image: none;
	}
	/*learning section*/ 
	/*partners section*/
	.partners-section {
		background-image: none;
	}
	.partners-section_about {
		background-image: none;
	}
	/*partners section*/ 
	/*video section*/
	.video-section {
		background-image: none;
	} 
	/*video section*/ 
	/*photogallery-section*/
	.photogallery-section {
		background-image: none;
	} 
	/*photogallery-section*/ 
	/*reviews section*/
	.reviews-section {
		background-image: none;
	} 
	/*reviews section*/ 
	/*similar-training-section*/ 
	.similar-training-section {
		background-image: none;
	}
	/*similar-training-section*/ 
	.contacts-section {
		background-image: none;
	} 
	/*feedback section*/
	.feedback-section {
		background-image: none;
	} 
	/*feedback section*/ 
}
@media (min-width: 1024px) and (max-width: 1366px){
	/*events section*/
	.events-section {
		min-height: 50vh;
	} 
	/*events section*/ 
	/*contacts section*/
	.contacts-section {
	     height: 100vh;
	} 
	/*contacts section*/ 
}
@media (min-width: 1400px) {
	/*contacts section*/
	.contacts-section {
	     min-height: 100vh;
	}
	/*contacts section*/ 
}
@media (max-width: 1200px) {
	/*about section*/
	.about-section__text-block {
		width: 100%;
	} 
	/*about section*/ 
	/*photogallery section*/
	.photogallery-section {
		.card {
			min-height: 200px;
		}
	} 
	/*photogallery section*/ 
	/*video section*/ 
	.video-section {
		.card {
			.card-video {
				min-height: 200px;
			}
		}
	}
	/*video section*/ 
}
@media (max-width: 991px) {
	/*header section*/
	.navbar-brand {
		margin-right: 0;
	}
	.header-section {
		.navbar {
			.navbar-nav {
				margin-bottom: 20px;
				.nav-link {
					text-align: center;
				}
			}
		}
	}
	.header-section__text-button {
		margin-top: 150px;
		margin-bottom: 50px;
		min-height: 300px;
		h1 {
			text-align: center;
			margin-bottom: 40px;
		}
	}
	.header-section__training-text {
		padding-right: 0;
	}
	.header-section__training-author {
		max-width: 80%;
		margin: 0 auto;
		margin-top: 20px;
	}
	.header-section__about-text {
		padding-right: 0;
	}
	.header-section__about-author {
		max-width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.header-section__card {
		.card {
			width: 380px;
			bottom: 0;
			margin-bottom: -28px;
		}
	}
	/*header section*/ 
	/*about section*/
	.about-section {
		padding: 100px 0 100px 0;
	}
	.about-section__photo {
		text-align: center;
	}
	.about-section__text {
		margin-left: 0;
		background: none;
		padding-top: 50px;
		margin-left: 0;
	}
	.about-section__text-block {
		text-align: center;
		padding-top: 0;
		&:last-child {
			padding-top: 30px;
		}
	}
	/*about section*/ 
	/*about head section*/
	.about-head-section {
		padding: 80px 0 100px 0;
	} 
	.about-head-section__text {
		padding-right: 0;
	}
	.about-head-section__photo {
		margin-top: 30px;
		text-align: center;
	}
	/*about head section*/ 
	/*events section*/
	.events-section {
		padding: 0 0 100px 0;
		.card {
			.card-text {
				text-align: center;
				padding: 50px 0px 50px 0px;
				h5 {
					margin-bottom: 20px;
				}
			}
		}
	}
	.events-section_future {
		padding-top: 200px;
	}
	.events-section_all {
		.card {
			.card-text {
				text-align: center;
				padding: 1.2rem 3rem;
			}
		}
	}
	.events-section__blocks {
		&>div {
			margin-bottom: 30px;
		}
	}
	.events-section__blocks-more_all {
		margin-top: 20px;
	}
	.events-section__img-filter {
		padding-left: 0;
	}
	.events-section__img {
		min-height: 250px;
	}
	/*events section*/ 
	/*advantages section*/
	.advantages-section {
		padding: 0 0 100px 0;
	}
	.advantages-section__caption {
		text-align: center;
	} 
	/*advantages section*/ 
	/*learning section*/
	.learning-section {
		padding: 0 0 160px 0;
	}
	.learning-section_about {
		padding: 90px 0 70px 0;
	}
	.learning-section__caption {
		text-align: center;
	} 
	/*learning section*/ 
	/*partners section*/
	.partners-section {
		padding: 0 0 160px 0;
	}
	.partners-section_about {
		padding: 0 0 100px 0;
	}
	.partners-section__caption {
		text-align: center;
	} 
	/*partners section*/ 
	/*photogallery section*/
	.photogallery-section {
		padding: 0 0 100px 0;
	}
	.photogallery-section {
		.card {
			min-height: 150px;
		}
	} 
	/*photogallery section*/ 
	/*video section*/ 
	.video-section {
		.card {
			.card-video {
				min-height: 200px;
			}
		}
	}
	/*video section*/ 
	/*contacts section*/
	.contacts-section {
		text-align: center;
		.btn {
			margin-bottom: 30px;
		}
	} 
	/*contacts section*/ 
	/*reviews section*/
	.reviews-section {
		.card {
			margin: 20px auto 0 auto;
			box-shadow: none;
		}
	}
	.reviews-section__img {
		max-width: 60%;
		margin: 0 auto;
	}
	.reviews-section__text {
		padding: 15px!important;
		h5 {
			text-align: center;
		}
		small {
			display: block;
			text-align: center;
		}
	}
	/*reviews section*/ 
	/*feedback section*/
	.feedback-section__caption {
		text-align: center;
	}
	.feedback-section__form-caption {
		text-align: center;
	}
	/*feedback section*/ 
	/*footer section*/
	.footer-section {
		.nav {
			text-align: center;
		}
	} 
	/*footer section*/ 
}
@media (max-width: 767px) {
	/*header section*/
	.header-section__training-text {
		max-width: 100%;
	}
	.header-section__training-author {
		max-width: 100%;
	}
	.header-section__about-text {
		max-width: 100%;
	}
	.header-section__about-author {
		max-width: 100%;
	}
	/*header section*/ 
	/*photogallery section*/
	.photogallery-section {
		.card {
			min-height: auto;
			height: auto;
		}
	} 
	/*photogallery section*/
	/*video section*/ 
	.video-section {
		.card {
			.card-video {
				min-height: 250px;
			}
		}
	}
	/*video section*/  
	/*similar training section*/
	.similar-training-section {
		.card {
			width: 100%;
		}
		.owl-item {
			&>div {
				width: 100%;
			}
		}
	} 
	/*similar training section*/ 
	/*reviews section*/ 
	.reviews-section__img {
		max-width: 100%;
	}
	/*reviews section*/ 
}
@media (max-width: 576px) {
	/*header section*/ 
	.header-section__card {
		.card {
			width: 320px;
			min-height: 400px;
			bottom: 0;
			margin-bottom: -28px;
		}
	}
	.header-section__text-button {
		h1 {
			font-size: 30px;
			margin-top: 10px;
		}
	}
	.header-section__training-text {
		padding-right: 0;
		h1 {
			font-size: 25px;
			text-align: center;
		}
		h3 {
			font-size: 20px;
			text-align: center;
		}
	}
	.header-section__training-author {
		h3 {
			font-size: 20px;
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
	/*header section*/
	/*about section*/
	.about-section__text-block {
		padding: 0 5px 0 5px;
	} 
	/*about section*/ 
	/*video section*/
	.video-section {
		.card {
			h3 {
				font-size: 25px;
				text-align: center;
			}
			p {
				text-align: center;
			}
			.card-video {
				min-height: 100px;
			}
		}
		.owl-dots {
			.owl-dot {
				width: 15px;
				height: 15px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 7.5px;
			}
		}
	}
	.video-section__caption {
		font-size: 25px;
		text-align: center;
	} 
	/*video section*/ 
	/*photogallery section */
	.photogallery-section {
		.owl-dots {
			margin-top: 10px;
			.owl-dot {
				width: 15px;
				height: 15px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 7.5px;
			}
		}
	}
	.photogallery-section__caption {
		font-size: 25px;
		text-align: center;
	} 
	/*photogallery section */ 
	/*similar training section*/
	.similar-training-section {
		.owl-dots {
			margin-top: 30px;
			.owl-dot {
				width: 15px;
				height: 15px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 7.5px;
			}
	    }
	}
	.similar-training-section__caption {
		font-size: 25px;
		text-align: center;
	} 
	/*similar training section*/ 
	/*reviews section*/
	.reviews-section {
		.owl-dots {
			margin-top: 5px;
			.owl-dot {
				width: 15px;
				height: 15px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 7.5px;
			}
		}
	}
	.reviews-section__caption {
		font-size: 25px;
		text-align: center;
	} 
	/*reviews section*/ 
	/*events section*/
	.events-section__title {
		font-size: 30px;
		text-align: center;
	}
	.events-section__caption {
		font-size: 25px;
		text-align: center;
	} 
	.events-section__caption_all {
		font-size: 25px;
		text-align: center;
	}
	/*events section*/ 
	/*advantages section*/
	.advantages-section__title {
		font-size: 30px;
		text-align: center;
	}
	.advantages-section__caption {
		font-size: 30px;
	}  
	/*advantages section*/ 
	/*learning section*/
	.learning-section__title {
		font-size: 30px;
		text-align: center;
	}
	.learning-section__caption {
		font-size: 30px;
	} 
	.learning-section__card-block {
		.card {
			.card-body {
				padding: 2rem 1.2rem;
			}
		}
	}
	.learning-section__item {
		.check {
			width: 20px;
			height: 20px;
		}
	}
	/*learning section*/ 
	/*partners section*/
	.partners-section {
		.owl-dots {
			.owl-dot {
				width: 15px;
				height: 15px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 7.5px;
			}
		}
	}
	.partners-section__title {
		font-size: 30px;
		text-align: center;
	}
	.partners-section__caption {
		font-size: 30px;
	} 
	/*partners section*/ 
	/*feedback section*/
	.feedback-section__title {
		font-size: 30px;
		text-align: center;
	}
	/*feedback section*/ 
	/*feedback modal*/
	.feedback-modal {
		.modal-lg {
			max-width: 100%!important;
		}
	} 
	/*feedback modal*/ 
}
@media (max-width: 320px) {
	/*header section*/
	.header-section__training-text {
		h1 {
			font-size: 20px;
			text-align: center;
		}
	}
	.header-section__training-author {
		.card {
			h3 {
				font-size: 19px;
			}
		}
	}
	/*header section*/ 
	/*video section*/
	.video-section {
		.card {
			h3 {
				font-size: 22px;
			}
		}
	}
	.video-section__caption {
		font-size: 23px;
	} 
	/*video section*/ 
	/*photogallery section */
	.photogallery-section__caption {
		font-size: 23px;
	} 
	/*photogallery section */ 
	/*similar training section*/
	.similar-training-section__caption {
		font-size: 23px;
	} 
	/*similar training section*/ 
}